In [50]:
num = 1
lst =[]

for i in range(12):        
    lst.append(str((i+1)*num))
lst

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']

In [7]:
context

{'number': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]}

In [30]:
text = {}
type(text)

dict

In [56]:
for i in range (13) :
    text['number'+str(i)] = num*i

In [57]:
text

{0: 0,
 1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 10,
 11: 11,
 12: 12,
 '0': 0,
 '1': 1,
 '2': 2,
 '3': 3,
 '4': 4,
 '5': 5,
 '6': 6,
 '7': 7,
 '8': 8,
 '9': 9,
 '10': 10,
 '11': 11,
 '12': 12,
 'number0': 0,
 'number1': 1,
 'number2': 2,
 'number3': 3,
 'number4': 4,
 'number5': 5,
 'number6': 6,
 'number7': 7,
 'number8': 8,
 'number9': 9,
 'number10': 10,
 'number11': 11,
 'number12': 12}